@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@200;300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Jetbrains Mono";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
